In [1]:
import  pandas as pd
from os.path import join
import os
import csv

In [2]:
#table=pd.read_csv(r"C:\Users\Big data\Desktop\user\lease_all_2008_mean\part-00000.csv", header=-1 )
#table1=pd.read_csv(r"C:\Users\Big data\Desktop\user\lease_all_2008_mean\part-00001.csv",header=-1 )
table3=pd.read_csv(r"C:\Users\Big data\Desktop\user\lease_all_2008\part-00000.csv", header=-1,encoding="utf-8" )
table4=pd.read_csv(r"C:\Users\Big data\Desktop\user\lease_all_2008\part-00001.csv",header=-1 ,encoding="utf-8")

In [3]:
#table2=table.append(table1,ignore_index=True)
table5=table3.append(table4,ignore_index=True)

In [4]:
#table2.columns=['state_code','meanprice','median_price','std_price','variance_price','q3_price','q1_price','meanfloorsum','median_floorsum','std_floorsum','variance_floorsum','q3_floorsum','q1_floorsum']
table5.columns=['dealTime','district','address','lat','lon','usage','houseType','unitPrice','pattern','floor','floorSum','state_code']

table2['state_code']=table2['state_code'].apply(lambda x:x.replace("["," "))
table2['q1_floorsum']=table2['q1_floorsum'].apply(lambda x:x.replace("]"," "))
table2['state_code']=table2['state_code'].apply(lambda x:x.replace('\'',""))

In [5]:
table5['dealTime']=table5['dealTime'].apply(lambda x:x.replace("["," "))
table5['state_code']=table5['state_code'].apply(lambda x:x.replace("]"," "))
table5['state_code']=table5['state_code'].apply(lambda x:x.replace('\'',""))

table2['Year']=2017

In [6]:
#table2.head()

table2.loc[0:50]

table["floor"].apply(lambda x: x=  if str(x)=="-"else x)

i=0
a=0
for i in range(len(table)):
    if str(table.loc[i,["floor"]])=="-":
        a+=1
        table.loc[i,["floor"]]="0"

a

table.loc[15566,["floor"]]

try:
    i=1
    for i in range(len(table)):
        float(table.loc[i,["floor"]])
        
except:
    print(i)

try:
    i=1
    for i in range(len(table)):
        float(table.loc[i,["floorSum"]])
        
except:
    print(i)

table["floorSum"].apply(lambda x:float(x))

table["floor"].apply(lambda x:float(x))

In [7]:
#table2.to_csv('lease_all_2008_mean.csv', index=False,encoding="utf_8")

In [9]:
table5.to_csv('lease_all_2008.csv', index=False,encoding="utf_8_sig")

w = csv.writer(table5)
w.writerows(data)
f.close()