In [4]:
print('how old are you:%r.who are you:%r'%(23,"tony"))

how old are you:23.who are you:'tony'

In [8]:
a="\n\t jjfjfj \t mfvmv \n\t"

In [9]:
print(a)

	 jjfjfj 	 mfvmv

In [10]:
a=r"\n\t jjfjfj \t mfvmv \n\t"

In [11]:
print(a)

\n\t jjfjfj \t mfvmv \n\t

In [12]:
b=repr("\n\t jjfjfj \t mfvmv \n\t")

In [13]:
print(b)

'\n\t jjfjfj \t mfvmv \n\t'

In [4]:
answer =input("how are you" )

how are youfuck

In [5]:
answer

'fuck'

In [7]:
print(answer)

fuck

In [17]:
a=["tony",5654,55.55]
print(a[::-1])

[55.55, 5654, 'tony']

In [21]:
a.pop()
print(a)
a.append("fuck")
print(a)


len(a)

['tony']
['tony', 'fuck']

2

In [26]:
b=[20,81,1,6]

In [31]:
b.sort()
print(b)
b.reverse()
print(b)

[1, 6, 20, 81]
[81, 20, 6, 1]

In [32]:
b.pop(0)
print(b)

[20, 6, 1]

In [33]:
c=list("this is a test")
print(c)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'e', 's', 't']

In [45]:
"t"in c
print(c[3])

s

In [39]:
print(list("565"))

['5', '6', '5']

In [42]:
a=[5,6,7,8]
import copy
b=copy.deepcopy(a)
b[0]=7
print(a)
print(b)

[5, 6, 7, 8]
[7, 6, 7, 8]

In [56]:
dic={'1':"tony",'2':"tommy",'3':"fuck"}
print(dic)
print(dic.keys())
print(dic.values())
print(dic["1"])
print(dic.get("4"))

{'1': 'tony', '2': 'tommy', '3': 'fuck'}
dict_keys(['1', '2', '3'])
dict_values(['tony', 'tommy', 'fuck'])
tony
None

In [2]:
birthday="1993/11/4"
birthday.split("/")

['1993', '11', '4']

In [4]:
split_practice='a/b//c/d/e/f'
split_practice.split('/')

['a', 'b', '', 'c', 'd', 'e', 'f']

In [5]:
split_practice='a/b//c/d/e/f'
split_practice.split('//')

['a/b', 'c/d/e/f']

In [7]:
lsit=['hj','gy','ty']
lsit[::1]

['hj', 'gy', 'ty']

In [26]:
big=[['tony',34703376],['tommy',34703377],['max',4845445],'grenn']
print(big[2][1])
big[3]=25
print(big)

4845445
[['tony', 34703376], ['tommy', 34703377], ['max', 4845445], 25]

In [30]:
big=[['tony',34703376],['tommy',34703377],['max',4845445],'grenn']
big[1:4]

[['tommy', 34703377], ['max', 4845445], 'grenn']

In [35]:
big.append('good')
print(big)
big.pop(4)

[['tony', 34703376], ['tommy', 34703377], ['max', 4845445], 'grenn', 'good', 'good', 'good', 'good']

'good'

In [43]:
big.pop(4)

'good'

In [44]:
print(big)

[['tony', 34703376], ['tommy', 34703377], ['max', 4845445], 'grenn']

In [45]:
got=[4785754]

In [46]:
big.extend(got)

In [47]:
print(big)

[['tony', 34703376], ['tommy', 34703377], ['max', 4845445], 'grenn', 4785754]

In [49]:
big+=got
print(big)

[['tony', 34703376], ['tommy', 34703377], ['max', 4845445], 'grenn', 4785754, 4785754, 4785754]

In [50]:
big.insert(1,885555)
print(big)

[['tony', 34703376], 885555, ['tommy', 34703377], ['max', 4845445], 'grenn', 4785754, 4785754, 4785754]

In [51]:
del big[2]
print(big)

[['tony', 34703376], 885555, ['max', 4845445], 'grenn', 4785754, 4785754, 4785754]

In [52]:
big.pop(0)
print(big)

[885555, ['max', 4845445], 'grenn', 4785754, 4785754, 4785754]

In [53]:
big.pop(0)

885555

In [55]:
big.remove(4785754)
big

[['max', 4845445], 'grenn', 4785754, 4785754]

In [3]:
friends =['harry','hermione','ron']
separator ='1'
joined =separator.join(friends)
joined

'harry1hermione1ron'

In [5]:
number =[1,5,1,8,6,2.0]
number.sort()
number

[1, 1, 2.0, 5, 6, 8]

In [6]:
len(number)

6

In [8]:
a=[5,8,9,6]
b=a.copy()
b[0]=1
print(a)
print(b)

[5, 8, 9, 6]
[1, 8, 9, 6]

In [11]:
a='tony','tommy'
f,r=a
f

'tony'

In [7]:
f=[1,2,3,45,6]
tuple(f)
f.insert(58)

SyntaxError: unexpected EOF while parsing (<ipython-input-7-84d5af8dc55c>, line 3)

In [11]:
h={'1':'kkk','2':'hhh','3':'dfk'}
print(h.keys())
print(h.values())

dict_keys(['1', '2', '3'])
dict_values(['kkk', 'hhh', 'dfk'])

In [15]:
a,b=(1,2)
print(a)
print(b)
c=a,b
print(c)
d=(1,2)
c==d

1
2
(1, 2)

True

In [16]:
a,b=(1,2)
a,b=b,a
print(a)
print(b)

2
1

In [30]:
p={'1':'tony','2':'tommy','3':'4714'}
c={'4':'benny','3':'kenny'}
p.update(c)
p
print(p)
del p['1']
print(p)
#p.clear()
print(p)

{'1': 'tony', '2': 'tommy', '3': 'kenny', '4': 'benny'}
{'2': 'tommy', '3': 'kenny', '4': 'benny'}
{'2': 'tommy', '3': 'kenny', '4': 'benny'}

In [49]:
p={'1':'tony','2':'tommy','3':'4714'}
"1" in p
p['2']
p.get('3')
print(p.get('2'))
c=list(p.keys())
c[1]
p.items()

#p.values()

tommy

dict_items([('1', 'tony'), ('2', 'tommy'), ('3', '4714')])

In [55]:
p={0,1,2,3,9,5}
p

{0, 1, 2, 3, 5, 9}