In [1]:
import os
import pandas as pd
from os.path import join
import numpy as np
from openpyxl import Workbook

In [3]:
path ='C:/Users/Big data/Desktop/All'

In [4]:
fullpath=[]
filename=[]
storepath=[]
for datapath,dirs,files in os.walk(path):
    for f in files:
        fullpath.append(join(datapath,f))
        
        filename.append(f)

In [12]:
len(fullpath)
len(filename)

77

In [11]:
len(fullpath)

77

In [14]:
for i in range(len(fullpath)):
    tables=pd.read_excel(fullpath[i])
    tables['rentPrice']=tables['rentPrice'].apply(lambda x:int(x.replace(',','')))
    tables['Area'] = tables['Area'].apply(lambda x:int(x))
    tables['unitPrice'] = tables['rentPrice'] // tables['Area']
    tables=tables.drop(['Area','rentPrice'],axis=1)
    
    writer='text.xlsx'
    file_path ='C:/Users/Big data/Desktop/data1/'+filename[i]
    writer = pd.ExcelWriter(file_path, engine='openpyxl')
    tables.to_excel( writer,index=False,encoding='utf-8')
    print(file_path)
    writer.save()

C:/Users/Big data/Desktop/data1/中山區2008.xlsx
C:/Users/Big data/Desktop/data1/中山區2009.xlsx
C:/Users/Big data/Desktop/data1/中山區2010.xlsx
C:/Users/Big data/Desktop/data1/中山區2011.xlsx
C:/Users/Big data/Desktop/data1/中山區2012.xlsx
C:/Users/Big data/Desktop/data1/中山區2013.xlsx
C:/Users/Big data/Desktop/data1/中山區2014.xlsx
C:/Users/Big data/Desktop/data1/中山區2015.xlsx
C:/Users/Big data/Desktop/data1/中山區2016.xlsx
C:/Users/Big data/Desktop/data1/中山區2017.xlsx
C:/Users/Big data/Desktop/data1/中山區2018.xlsx
C:/Users/Big data/Desktop/data1/中正區2008.xlsx
C:/Users/Big data/Desktop/data1/中正區2009.xlsx
C:/Users/Big data/Desktop/data1/中正區2010.xlsx
C:/Users/Big data/Desktop/data1/中正區2011.xlsx
C:/Users/Big data/Desktop/data1/中正區2012.xlsx
C:/Users/Big data/Desktop/data1/中正區2013.xlsx
C:/Users/Big data/Desktop/data1/中正區2014.xlsx
C:/Users/Big data/Desktop/data1/中正區2015.xlsx
C:/Users/Big data/Desktop/data1/中正區2016.xlsx
C:/Users/Big data/Desktop/data1/中正區2017.xlsx
C:/Users/Big data/Desktop/data1/中正區2018.xlsx
C:/Users/Big data/Desktop/data1/信義區2008.xlsx
C:/Users/Big data/Desktop/data1/信義區2009.xlsx
C:/Users/Big data/Desktop/data1/信義區2010.xlsx
C:/Users/Big data/Desktop/data1/信義區2011.xlsx
C:/Users/Big data/Desktop/data1/信義區2012.xlsx
C:/Users/Big data/Desktop/data1/信義區2013.xlsx
C:/Users/Big data/Desktop/data1/信義區2014.xlsx
C:/Users/Big data/Desktop/data1/信義區2015.xlsx
C:/Users/Big data/Desktop/data1/信義區2016.xlsx
C:/Users/Big data/Desktop/data1/信義區2017.xlsx
C:/Users/Big data/Desktop/data1/信義區2018.xlsx
C:/Users/Big data/Desktop/data1/內湖區2008.xlsx
C:/Users/Big data/Desktop/data1/內湖區2009.xlsx
C:/Users/Big data/Desktop/data1/內湖區2010.xlsx
C:/Users/Big data/Desktop/data1/內湖區2011.xlsx
C:/Users/Big data/Desktop/data1/內湖區2012.xlsx
C:/Users/Big data/Desktop/data1/內湖區2013.xlsx
C:/Users/Big data/Desktop/data1/內湖區2014.xlsx
C:/Users/Big data/Desktop/data1/內湖區2015.xlsx
C:/Users/Big data/Desktop/data1/內湖區2016.xlsx
C:/Users/Big data/Desktop/data1/內湖區2017.xlsx
C:/Users/Big data/Desktop/data1/內湖區2018.xlsx
C:/Users/Big data/Desktop/data1/北投區2008.xlsx
C:/Users/Big data/Desktop/data1/北投區2009.xlsx
C:/Users/Big data/Desktop/data1/北投區2010.xlsx
C:/Users/Big data/Desktop/data1/北投區2011.xlsx
C:/Users/Big data/Desktop/data1/北投區2012.xlsx
C:/Users/Big data/Desktop/data1/北投區2013.xlsx
C:/Users/Big data/Desktop/data1/北投區2014.xlsx
C:/Users/Big data/Desktop/data1/北投區2015.xlsx
C:/Users/Big data/Desktop/data1/北投區2016.xlsx
C:/Users/Big data/Desktop/data1/北投區2017.xlsx
C:/Users/Big data/Desktop/data1/北投區2018.xlsx
C:/Users/Big data/Desktop/data1/南港區2008.xlsx
C:/Users/Big data/Desktop/data1/南港區2009.xlsx
C:/Users/Big data/Desktop/data1/南港區2010.xlsx
C:/Users/Big data/Desktop/data1/南港區2011.xlsx
C:/Users/Big data/Desktop/data1/南港區2012.xlsx
C:/Users/Big data/Desktop/data1/南港區2013.xlsx
C:/Users/Big data/Desktop/data1/南港區2014.xlsx
C:/Users/Big data/Desktop/data1/南港區2015.xlsx
C:/Users/Big data/Desktop/data1/南港區2016.xlsx
C:/Users/Big data/Desktop/data1/南港區2017.xlsx
C:/Users/Big data/Desktop/data1/南港區2018.xlsx
C:/Users/Big data/Desktop/data1/士林區2008.xlsx
C:/Users/Big data/Desktop/data1/士林區2009.xlsx
C:/Users/Big data/Desktop/data1/士林區2010.xlsx
C:/Users/Big data/Desktop/data1/士林區2011.xlsx
C:/Users/Big data/Desktop/data1/士林區2012.xlsx
C:/Users/Big data/Desktop/data1/士林區2013.xlsx
C:/Users/Big data/Desktop/data1/士林區2014.xlsx
C:/Users/Big data/Desktop/data1/士林區2015.xlsx
C:/Users/Big data/Desktop/data1/士林區2016.xlsx
C:/Users/Big data/Desktop/data1/士林區2017.xlsx
C:/Users/Big data/Desktop/data1/士林區2018.xlsx

In [22]:
tables.head()

,dealTime,Usage,Type,Address,Area,rentPrice,Pattern,Floor,floorSum,lat,long,unitPrice
0,2009-12,整層住家,公寓,大同區赤峰街,16,"15,000",2房1廳1衛,3,4,25.055316,121.519635,NaN
1,2009-12,整層住家,電梯大樓,大同區西寧北路,29,"19,000",3房2廳1衛,7,8,25.052696,121.508634,NaN
2,2009-12,整層住家,公寓,大同區南京西路,14,"14,000",2房1廳1衛,2,5,25.053999,121.513293,NaN
3,2009-12,整層住家,公寓,大同區重慶北路,20,"10,000",2房2廳1衛,1,4,25.058519,121.513709,NaN
4,2009-12,整層住家,電梯大樓,大同區寧夏路,25,"18,000",2房1廳1衛,10,10,25.058141,121.515214,NaN

In [19]:
tables['rentPrice'] = tables['rentPrice'].apply(lambda x:x.replace(',', ''))

In [22]:
tables['rentPrice'] = tables['rentPrice'].apply(lambda x:int(x))

In [23]:
tables['Area'] = tables['Area'].apply(lambda x:int(x))

In [24]:
tables['unitPrice'] = tables['rentPrice'] // tables['Area']

In [32]:
def cut(x):
    return int(round(x, 0))

In [33]:
tables['unitPrice'] = tables['unitPrice'].apply(cut)

In [7]:
for position in fullpath:
    table1=pd.read_excel(position)
    table1['unitPrice']=np.nan
    try:
        for i in range(len(table1)):
            
            table1.loc[i,'unitPrice']=int(str(table1.loc[i,['rentPrice']]).split()[1].replace(',',''))//int(str(table1.loc[i,['Area']]).split()[1])
           
    except:
        print( table1.iloc[i])

dealTime       2011-12
Usage             分租套房
Type               NaN
Address      松山區民權東路三段
Area                 0
rentPrice            0
Pattern            NaN
Floor              NaN
floorSum           NaN
lat            25.0621
long           121.544
unitPrice          NaN
Name: 1678, dtype: object

In [ ]:
def divi():
    
    for i in range(len(tables)):
        price=int(str(tables.loc[i,['rentPrice']]).split()[1].replace(',',''))//int(str(tables.loc[i,['Area']]).split()[1])
    return price

In [ ]:
def divi(x):
    price=int(x)//tables['Area'].apply(lambda y:int(y))
    return price